@page
@model PortalKulinarny.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.UserId)
        </dt>
        <dd class="col-sm-10">
            @await Model.GetUserName(Model.Recipe.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Likes)
        </dt>
        <dt class="col-sm-10">
            @if (Model.Recipe.Likes != null)
                @Html.DisplayFor(model => model.Recipe.Likes.Count)
                else
                { @Html.Display("0")}
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Ingredients)
        </dt>
        <dd class="col-sm-10">
            @foreach (var ingredient in Model.Recipe.Ingredients)
            {
                <span>@ingredient.Name, </span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.ModificationDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.ModificationDateTime)
        </dd>
    </dl>
</div>
<form method="post">
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
