@page
@model PortalKulinarny.Pages.Recipes.IndexModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}

<h1>Przepisy</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Dodaj przepis</a>
</p>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="recipes-tab" data-toggle="tab" href="#recipes" role="tab" aria-controls="recipes" aria-selected="true">Przepisy <span class="badge bg-red rounded-pill" style="color: white;">@Model.Recipes.Count</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Użytkownicy <span class="badge bg-red rounded-pill" style="color: white;">@Model.Users.Count()</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Kategorie <span class="badge bg-red rounded-pill" style="color: white;">@Model.Categories.Count()</span></a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
        <div class="container mt-4">
            @foreach (var item in Model.Recipes)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-1">
                                obrazek
                            </div>
                            <div class="col">
                                <h4><a class="a-link" asp-page="./Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Name)</a></h4>
                                <h6>@Html.DisplayNameFor(model => model.Recipes[0].UserId): <a class="a-link" asp-area="Identity" asp-page="/Account/Profile" asp-route-id="@item.UserId">@await Model._userService.GetUserName(item.UserId)</a></h6>
                                <h8>@Html.DisplayNameFor(model => model.Recipes[0].DateTime): @Html.DisplayFor(modelItem => item.DateTime)</h8>
                            </div>
                            <div class="col-auto float-right">
                                <div>
                                    @if (!String.IsNullOrWhiteSpace(Model.UserId) && Model.UserId != item.UserId)
                                    {
                                        var vote = Model._voteService.FindVoteAsync(item.RecipeId, Model.UserId).Result;
                                        if (vote == null || vote.Value == -1)
                                        {
                                            // Empty Like
                                            <form class="mr-1 d-inline" method="post">
                                                <button class="btn-icon gray" type="submit" asp-page-handler="UpVote" asp-route-id="@item.RecipeId"><i class="far fa-thumbs-up"></i></button>
                                            </form>
                                        }
                                        else
                                        {
                                            // Filled like
                                            <form class="mr-1 d-inline" method="post">
                                                <button class="btn-icon green" type="submit" asp-page-handler="UpVote" asp-route-id="@item.RecipeId"><i class="fas fa-thumbs-up"></i></button>
                                            </form>
                                        }

                                        if (vote == null || vote.Value == 1)
                                        {
                                            // Empty dislike
                                            <form class="mr-3 d-inline" method="post">
                                                <button class="btn-icon gray" type="submit" asp-page-handler="DownVote" asp-route-id="@item.RecipeId"><i class="far fa-thumbs-down"></i></button>
                                            </form>
                                        }
                                        else
                                        {
                                            // Filled dislike
                                            <form class="mr-3 d-inline" method="post">
                                                <button class="btn-icon red" type="submit" asp-page-handler="DownVote" asp-route-id="@item.RecipeId"><i class="fas fa-thumbs-down"></i></button>
                                            </form>
                                        }
                                    }
                                    else if (!String.IsNullOrWhiteSpace(Model.UserId) && Model.UserId == item.UserId)
                                    {
                                        // Edit button
                                        <a class="mr-3 d-inline btn-icon blue" asp-page="./Edit" asp-route-id="@item.RecipeId"><i class="fas fa-pen"></i></a>
                                        // Delete button
                                        //<button class="mr-3 d-inline btn-icon red" type="button" data-toggle="modal" data-id="@item.RecipeId" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
                                    }

                                    @if (!String.IsNullOrWhiteSpace(Model.UserId))
                                    {
                                        @if (await Model._favouritiesService.FindFavouriteAsync(item.RecipeId, Model.UserId) == null)
                                        {
                                            <form class="d-inline" method="post">
                                                <button class="btn-icon red" type="submit" asp-page-handler="Favourities" asp-route-id="@item.RecipeId"><i class="far fa-heart"></i></button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form class="d-inline" method="post">
                                                <button class="btn-icon red" type="submit" asp-page-handler="Favourities" asp-route-id="@item.RecipeId"><i class="fas fa-heart"></i></button>
                                            </form>
                                        }

                                    }
                                </div>
                                <h6 class="mr-3 d-inline align-middle">@Html.DisplayNameFor(model => item.Rating): @Html.DisplayFor(model => item.Rating)</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
            }
        </div>
    </div>
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="favourites-tab">
        <div class="container mt-4">
            @foreach (var user in Model.Users)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h4><a class="a-link" asp-area="Identity" asp-page="/Account/Profile" asp-route-id="@user.Id">@await Model._userService.GetUserName(user.Id)</a></h4>
                            </div>
                            <div class="col">
                                @if (!String.IsNullOrWhiteSpace(user.FirstName) || !String.IsNullOrWhiteSpace(user.LastName))
                                {
                                    <h8>@user.FirstName @user.LastName</h8>
                                    <br />
                                }
                                <h8 class="text-muted">Użytkownik od: @Html.DisplayFor(modelUser => user.DoJ)</h8>
                            </div>
                            <div class="col-auto float-right">
                                <h6>Dodanych przepisów: @user.Recipes.Count</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
    <div class="tab-pane fade show" id="categories" role="tabpanel" aria-labelledby="categories-tab">
        <div class="container mt-4">
            @foreach (var category in Model.Categories)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4>@category.Name</h4>
                            </div>
                            <div class="col-auto float-right">
                                <div class="row">
                                    <form method="post" class="d-inline">
                                        <button class="btn-icon red" type="submit" asp-page-handler="Delete" asp-route-id="@category.Id">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="row">
                                    <h6 class="mr-3 d-inline align-middle">Przepisy: @category.CategoryRecipes.Count</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
            }
        </div>
    </div>
</div>
