@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<a class="btn btn-success" role="button" aria-pressed="true" asp-page="/Recipes/Create">Dodaj przepis</a>

<div class="text-center">
    <h1 class="display-4">Portal pyszny</h1>
    <br />
    <form method="post">
        <div class="container">
            <label asp-for="Search"></label>
            <input asp-for="Search" class="form-control w-25" style="margin:auto;" />
            <p class="font-weight-bold">
                <span asp-validation-for="Search" class="text-danger" font></span>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Wyszukaj</button>
    </form>
</div>

<br />

<div class="container mt-4">
    <div class="row justify-content-center">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-auto mb-3">
                <a class="a-card-link" asp-page="/Recipes/Details" asp-route-id="@recipe.RecipeId">
                <div class="card border-dark" style="width: 21rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ocena: @recipe.Rating</h6>
                        <p class="card-text">@recipe.User.UserName</p>
                        <p class="card-text"><small class="text-muted">@recipe.DateTime</small></p>
                    </div>
                </div>
                </a>
            </div>
        }
    </div>
</div>
